body {
  background: linear-gradient(to right,lavender,pink);
  font-family: Arial, sans-serif;
}

.container {
  width: 300px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  text-align: left;
}


form {
width: 250px;
margin: auto;
display: flex;
flex-direction: column;
}
h2{
  text-align:center;
}
input {
margin: 5px 0;
padding: 8px;
}
.error {
border: 2px solid red;
}
p {
color: red;
font-size: 12px;
margin: 0;
}
